* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Heebo", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "Overpass";
  font-weight: 400;
  font-size: 18px;
  background: black url("Trading\ page.png") no-repeat fixed;

  background-size: cover;
  height: 600px;
  width: 100%;
}
header {
  color: white;
}
.header-logo {
  display: flex;
  padding: 10px;

  margin: 10px 80px;
}
.header-logo img {
  width: 47.86px;
  height: 52px;
}
h2 {
  font-family: "Overlock";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}
h1,
h2,
h3,
h4 {
  font-size: 1.5rem;
}
h2 {
  font-family: "Overlock";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
}
h4 {
  color: grey;
  font-family: "Overpass", Times, serif;
  font-size: 16px;
  font-weight: 400;
}
p {
  font-family: "Overlock";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
h1 .logo {
  height: 50px;
  width: 50px;
}

.nav-horizontal {
  display: flex;
  align-items: center;

  margin: 20px 90px;
  text-decoration: none;
  list-style-type: none;
}
.nav-horizontal li {
  padding: 0px 1vh;
}

.nav-horizontal a {
  color: white;
  padding: 0 0.5rem;
  text-decoration: none;
}
.RemoveBttn {
  width: Hug (139px);
  color: white;
  height: 44px;
  background: #c44736;
  border: black;
  border-radius: 6px;
  font-family: Overpass;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}
.history {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
  padding: 2px 10px;
  height: 714px;
  align-content: center;
}
.history-grid {
  grid-row: 1/2;
  grid-column: 0;
  margin-top: 100px;
  margin-left: 120px;
}
.history h4 {
  margin: 0px;
}
.history h2 {
  font-family: "Overlock";
  font-size: 54px;
  margin: 0px;
}
.history p {
  grid-row: 1/2;
  grid-column: 2;
  padding-top: 115px;
  padding-right: 245px;
  font-family: Overpass;
  font-size: 18px;
  font-weight: 300;
  line-height: 25.32px;
}
.mid-photo {
  width: 100%;
  height: 95vh;
  justify-content: center;
  align-content: center;
  display: flex;
  color: white;
  background: #c44736;
}
.mid-photo img {
  flex: 1;
  object-fit: cover;
}
.mid-photo-sec {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid-photo h2 {
  margin: 0;
  padding: 0vh 10vh;
  text-align: center;
  color: white;
}
.main {
  display: block;
  text-align: center;
  margin-top: 100px;
}
.main p {
  padding-left: 20rem;
  padding-right: 20rem;
  font-size: 28px;
  font-weight: 400;
  font-family: "Overpass";
  color: #504945;
}
.main h4 {
  margin: 0px;
}
.main h2 {
  margin-top: 40px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 40px;
  padding: 0 40px;
}
.cards span {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5vh;
  font-weight: 400;
  padding: 40px, 0px, 0px, 40px;
}
.cards h3 {
  text-align: left;
  font-size: 2vw;
  padding-left: 2.8vh;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 2.8vh;
  margin-top: 6vh;
  padding-right: 1vh;
}
.icon p {
  font-size: 2.5vh;
  padding: 0;
  font-family: "Overpass";
  margin-top: 100px;
  line-height: 2.5vh;
}
.second {
  margin-top: 90px;
  display: block;
  align-content: center;
}
.second h2 {
  font-size: 54px;
}
.second h4 {
  text-align: center;
  margin: 20px;
  font-weight: 400;
  padding-left: 20rem;
  padding-right: 20rem;
  color: #504945;
  font-size: 20px;
}
.names {
  display: flex;
  align-items: center;
}
.names > div {
  flex: 1;
  padding: 0 40px;
}

.names > img {
  flex: 1;
  object-fit: contain;
  object-position: center;
  max-height: 400px;
}
.names h3 {
  margin-bottom: 1vh;
  font-family: "Overpass";
  font-size: 32px;
  text-align: left;
  padding-left: 10px;
}
.names h4 {
  margin-top: 0vh;
  text-align: left;
  padding-left: 10px;
  margin-left: 0;
  padding-right: 0px;
}
.names p {
  padding: 0vh 15vh;
  text-align: left;
  padding-left: 10px;
}
.names .grid {
  grid-column: 1;
  grid-row: 1;
}
.names p {
  grid-column: 1;
  grid-row: 2;
  font-family: Overpass;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.iicon {
  padding: 0px;
}
.names2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 8fr;
  margin-left: 4vh;
  grid-column-gap: 6vh;
}
.names2 h3 {
  margin-bottom: 1vh;
  font-family: "Overpass";
  font-size: 32px;
  text-align: left;
  padding-left: 10px;
}
.names2 h4 {
  text-align: left;
  margin-left: 10px;
  padding: 0px;
}
.names2 p {
  padding: 0vh 15vh;

  font-size: 20px;
  text-align: left;
  padding-left: 10px;

  font-family: Overpass;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}

.names2 .grid2 {
  grid-column: 2;
  grid-row: 1;
}

.names2 .p2 {
  grid-column: 2;
  grid-row: 2;
}
.names3 {
  display: flex;
  margin: 2vh 2vh;
  grid-column-gap: 6vh;
  text-align: left;
  margin-bottom: 150px;
}
.names span {
  text-align: left;
}
.names3 h3 {
  margin-bottom: 1vh;
  margin-top: 10px;
  font-family: Overpass;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: left;
}
.names3 h4 {
  margin-top: 0vh;
}
.names3 p {
  padding: 0vh 0vh;
  text-align: left;
  font-family: Overpass;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.mid-photo h3 {
  font-family: "Overlock";
  font-size: 54px;
  font-weight: 900;
  width: 720px;
  padding: 0px 120px 0px 120px;
}
.mid-photo img {
  width: 1000px;
}
.mid-photo button {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: 2rem;
  color: #c44736;
  margin-top: 200px;
  padding: 25px 140px;
}

.third {
  margin-top: 80px;
}
.h3 {
  font-family: Overlock;
  font-size: 54px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;

  padding-top: 0vh;
  padding-bottom: 2vh;
  margin-top: 0vh;
  margin-bottom: 2vh;
}
.third .h4 {
  padding-top: 5vh;
  padding-bottom: 2vh;
  font-family: Overpass;
  font-size: 16px;
  font-weight: 400;
  color: #504945;

  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.third p {
  color: grey;
  font-family: Overpass;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 310px;
}
.third span h4,
.third span h3 {
  padding: 0vh 0.5vh;
  font-size: medium;
  color: black;
  font-weight: 600;
}
.accordian-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 120px;
}
.accordian-container > span {
  display: flex;
  justify-content: space-between;
  background: #fbf7f6;
  border-radius: 16px;
  padding: 24px;
}
.accordian-container > span > .first-span {
  display: flex;
  align-items: center;
}
.accordian-container > span > .first-span h4,
.accordian-container > span > .first-span h3 {
  margin: 0;
}
.accordian-container > span > .darrow {
}
/* .first-span h3{
    font-family: Overpass;
    font-size: 2vw;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;

}
.first-span h4{
    font-family: Overpass;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
.first-span{
    display: flex;
} */
/* .darrow{
        margin-right: 0vh;
        margin-left: 40px;
        margin-top: 20px;
    } */
footer {
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
}
.footer-logo > h1 {
  display: flex;
  align-items: center;
  margin-top: 0;
  gap: 20px;
}
.footer-nav nav {
  display: flex;
  color: grey;
  text-decoration: none;
  list-style-type: none;
}
.footer-nav dd {
  margin-top: 1vh;
}
.footer-logo {
  margin-right: 80vh;
}

.footer-logo h1 {
  font-size: 24px;
  color: #c44736;
}
.footer-logo h4 {
  font-size: 2vh;
  font-weight: normal;
}
.footer-logo button {
  background-color: #c44736;
  border-radius: 5px;
  font-size: 0.6rem;
  color: white;
  margin-top: 4vh;
  padding: 2vh 4vh;

  font-family: Overpass;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.footer-logo img {
  text-align: center;
}
.bottom {
  margin: 0;
  display: block;

  height: 416px;
  background-image: url("Footer.png");
  background-size: cover;
}
.bottom h3 {
  font-family: "Overpass";
  font-size: 40px;
  padding: 104px 474px 168px 516px;
  padding-bottom: 0;
  text-align: center;
  color: white;
}
.bottom-cr {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 0px 120px;
}
.bottom-cr h4 {
  font-family: Overpass;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  padding-left: 2vh;
  color: white;
}
